<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<div class="container-sign-up">
    <div class="container-form">
        <img src="https://image.flaticon.com/icons/png/512/42/42994.png" alt="Subscribe Logo"
             style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 30px" ;
             width="150px">

        <span class="form-title p-b-34 p-t-27">
                <p>Get your greeting here</p>
        </span>

        <div class="container-form-btn">
            <input type="text" class="form-control" id="visitor-name">
            <button type="submit" class="btn btn-default" id="sign-up-btn"
                    style="margin-top: 30px"><b>Continue</b></button>
        </div>
    </div>
</div>

<script>
    $("#sign-up-btn").click(function () {
        var visitorName = document.getElementById('visitor-name').value;
        var url = "/resume?visitor=";
        window.location.replace(url + visitorName);
    })
</script>
</body>
</html>