<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Nabila Febri Viola">
    <meta name="Description" content="Nabila's personal website">

    <link rel="stylesheet" th:href="@{css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script th:src="@{js/custom.js}"></script>

    <title th:text="${pageTitle}"></title>
</head>

<body>
<div class="container" style="min-height: 84vh; display: flex; align-content: center; align-items: center;">
    <div class="container">
        <div id="accordion">
            <h3>Profile</h3>
            <div>
                <img src="https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/11390303_851109161645784_4696341219480750198_n.jpg?_nc_cat=105&_nc_ht=scontent-sin2-2.xx&oh=c6bef1c531b790aa52e32f8fec7edd4e&oe=5D131580"
                     alt="Nabila Febri Viola"
                     width="150px" height="150px"
                     style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px">
                <h4 style="text-align: center">Nabila Febri Viola</h4>
                <p style="word-wrap: break-word; text-align: center">I was born on the 3rd of February 1999 in Jakarta.
                    I am currently living in Depok to pursue my dream of becoming a programmer.
                    I live @ Jalan Kapitan 3 Gang Keluarga Kavling 1B.
                    I spend my time by playing games, reading books, watching movies, writing reviews,
                    and solving jigsaw puzzles.</p>
            </div>

            <h3>Current Activity</h3>
            <div>
                <ul>
                    <li>Eat</li>
                    <li>Sleep</li>
                    <li>Pray</li>
                    <li>PPW</li>
                </ul>
                <p>#apatisLyfe</p>
                <a class="nav-link" href="https://id.wikihow.com/Berhenti-Menjadi-Apatis">CLICK THIS HELPFUL LINK!</a>
            </div>

            <h3>Education History</h3>
            <div>
                <ul>
                    <li>Bachelor of Computer Science - Fakultas Ilmu Komputer
                        Universitas Indonesia
                    </li>
                    <li>SMAN 5 Surabaya</li>
                    <li>SMPN 1 Surabaya</li>
                </ul>
            </div>

            <h3>Organizational/Committee Experiences</h3>
            <div>
                <h4>2018 - Present</h4>
                <ul>
                    <li>
                        <h5>VICE PERSON IN CHARGE OF TICKETING DIVISION ASUIFEST 2018</h5>
                        <p>Arek SUroboyo UI FESTival is an annual event of SBMPTN simulation.</p>
                    </li>
                    <li>
                        <h5>VICE PERSON IN CHARGE OF EQUIPMENT DIVISION SIWAK - NG 2018</h5>
                        <p>Studi Islam aWAl Kuliah - Next Generation is an annual event to introduce Islam to freshmen
                            at the beginning of college years.</p>
                    </li>
                </ul>

                <h4>2017 - Present</h4>
                <ul>
                    <li>
                        <h5>STAFF OF MUSLIM DEVELOPMENT CENTER</h5>
                        <p>Muslim Development Center is a departement from Forum Ukhuwah dan Kajian Islam Fasilkom UI
                            (campus Islamic organization) specialized in maintaining students’ spiritual.</p>
                    </li>
                </ul>

                <h4>2017</h4>
                <ul>
                    <li>
                        <h5>STAFF OF TICKETING DIVISION ASUIFEST 2017</h5>
                        <p>Arek SUroboyo UI FESTival is an annual event of SBMPTN simulation.</p>
                    </li>
                    <li>
                        <h5>STAFF OF PUBLIC RELATIONS DIVISION BETIS 2017</h5>
                        <p>Bimbingan bElajar graTIS is an annual 3-months free SBMPTN tutoring held in Fasilkom UI.</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</body>

</html>